@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy-Regular";
  src: local("Gilroy-Regular"),
    url(../fonts/Gilroy-Regular.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: local("Gilroy-Medium"), url(../fonts/Gilroy-Medium.woff2) format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy-Semibold";
  src: local("Gilroy-Semibold"),
    url(../fonts/Gilroy-Semibold.woff2) format("woff2");
  font-weight: 600;
}

@layer base {
  * {
    @apply box-border;
  }
  body {
    font-family: "Gilroy-Medium";
    @apply bg-surface_bg text-on_surface;
  }
}

@layer utilities {
  .normal {
    @apply font-["Gilroy-Regular"] font-normal;
  }

  .h2 {
    @apply md:text-3xl text-2xl;
  }

  .semibold {
    @apply font-["Gilroy-Semibold"] font-semibold;
  }

  .p {
    @apply text-lg text-on_primary_v;
  }

  .progress-circle {
    @apply size-14 rounded-full text-2xl z-10 text-[#5F6674];
  }
}
